
.desc{
	font-family: "sofia-pro", Helvetica, Arial, sans-serif !important;
    font-style: normal;
    font-weight: 300;
	
}

.intro-heading{
	color:#58ACFA;
}

.navbar-custom{
	background-color: rgba(0,0,0,.5);
}


#portfolio .portfolio-item {
  height: 400px;
  margin:40px auto;

}

.portfolio-caption p{
  line-height: 1.2;
  margin-top: 15px !important;
}

.portfolio-modal .modal-body a{
    color:#337ab7;
}

.section-subheading{
  text-transform: uppercase !important;
}

.tx-pres{
  margin: -40px auto 40px auto;
  font-size: 16px;
  width: 70%;
  font-weight: 400;
}


.legal{
  background-color: rgba(0,0,0,.5);
  margin:150px auto 20px auto;
  color: #FFF;
  font-family: arial, sans-serif;
  text-align: left;
  padding: 20px;
}

.desc_legal{
  font-size: 1.5em;
  line-height: 1.3em;
  font-weight: normal;
  
  text-align: justify;
}

.legal p{
  margin-bottom: 20px;
}

.legal h1, .legal h2, .legal h3, .legal h4{
  color:#fed136;
}

footer{
  background-color: #000;
  color:#CCC;
}

@media (min-width: 768px){

section{
	padding:50px 0;
}

}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #6e6e6e !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #6e6e6e !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #6e6e6e !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #6e6e6e !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #6e6e6e !important;
}